.career-mail{
    justify-items: center;
    align-items: center;
}

.mail-us-btn {
    background-color: #3192fa;
    border: none;
    color: rgb(0, 0, 0);
    padding: 1vw 2vw;
    text-align: center;
    font-size: 1.5vh;
    margin: 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mail-us-btn:hover {
    background-color: #0056b3;
    color: azure;
  }

.mail-us{
    width: 50%;
    background-color:rgba(99, 99, 99, 0.3);
    color: rgb(0, 0, 0);
    padding: 2vh;
    border-radius: 2vh;
    margin-left: 25%;
}

.mail-us p{
    font-size: 1vh;
}

