.career-mail{
    justify-items: center;
    align-items: center;
}

.mail-us-btn {
    background-color: #124E66;
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    font-size: 1vw;
    margin: 2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 1vw;
  }
  
  .mail-us-btn:hover {
    background-color: #2E3944;
  }

.mail-us{
    
    
    color: rgb(0, 0, 0);
    padding: 2vw;
    
   
}

.mail-us h2{
  font-size: 3vw;
}

.mail-us p{
  margin-top: 1vh;
  font-size: 1vw;
}

