.gallery{
    display: flex;
    justify-content: flex-end;
    color: black;

}

.gallery-heading{
    margin-top: 2vw;
    padding: 2vw;
    width: 50vw;
    height: auto;
    z-index: 1;
}

.gallery-heading h1{
    font-size: 3vw;
}

.gallery-heading p{
    position: relative;
    margin-top: 5vw;
    padding: 1vh;
    background-color: #2E3944;
    color: white;
    border-radius: 1vw;
    width: 100%;
    height: auto;
    font-size: 1vw;
    font-weight: 10;
    
}


.gallery-heading p::before,
.gallery-heading p::after {
  content: '';
  position: absolute;
  z-index: -2; /* Ensures the shapes are behind the paragraph */
  border-radius: 50%;
  opacity: 1; /* Adjust opacity as needed */
}

.gallery-heading p::before {
  width: 10vh;
  height: 10vh;
  background-color: rgba(18, 78, 102, 0.5); /* Semi-transparent red */
  top: -5vh;
  left: -5vh;
}


.gallery-heading p::after {
  width: 10vh;
  height: 10vh;
  background-color: rgb(116, 141, 146, 0.2); /* Semi-transparent blue */
  bottom: -5vh;
  right: -5vh;
}

.gallery-container {
    
    margin: 0 auto;
    padding: 2vh;
    z-index: 1;
    width: 100vw;
  }
  
  .slide-item {
    position: relative;
    height: 50vw; /* Adjust height as needed */
  }
  
  .slide-item img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
  }
  
  .slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 1vh;
    color: white;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    border-radius: 1vw;
    font-size: 2vw;
  }
  
  .slide-item:hover .slide-overlay {
    opacity: 1; /* Show overlay on hover */
    
  }
  
  .slide-overlay h3,
  .slide-overlay p {
    margin: 1vh 0;
  }
  