
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 1vw;
    width: 100%; 
    background-color: #D3D9D4;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  
  .nav {
    display: flex;
    justify-content: center; /* Center the nav items */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    position: relative;
    margin: 0 2vw; /* Adjust spacing between nav items */
  }
  
  .nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1vw;
    display: block;
    padding: 1vw 2vw; /* Ensure clickable area */
    position: relative; /* Ensure z-index works */
  }
  
  .nav-item:hover {
    background-color:#325f8f; /* Semi-transparent background on hover */

  }
  
  .nav-item a:hover {
    color: white; /* Change text color on hover */
  }
  
  .call-us-btn {
    background-color: #325f8f;
    border: none;
    color: white;
    padding: 1vw 2vw;
    font-size: 1vw ;
    cursor: pointer;
    border-radius: 1vw;
  }
  
  .call-us-btn:hover {
    background-color: #354c8c;
  }
  
  /* Dropdown menu styles */
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(50, 95, 143, 0.75);; /* Transparent black background */
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%; /* Make dropdown wider */
    padding: 0; /* Remove padding to remove default list styles */
  }
  
  .dropdown-item {
    padding: 1vw 1vw;
    list-style: none; /* Remove bullet points */
  }
  
  .dropdown-item a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
  }

  .dropdown-item a:hover {
    border-radius: 1vw;
  }
  
  /* Display the dropdown menu when the parent nav-item is hovered */
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 750px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      width: 100%;
      justify-content: space-between;
    }
  
    .nav-list {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-item {
      margin: 0vh 0;
    }
  
    .call-us-btn {
      width: 100%;
      margin: 2vw 0 0;
    }
  }
  
  @media (max-width: 450px) {
    .nav-item a {
      font-size: 3vw;
    }
  
    .call-us-btn {
      font-size: 1vw;
      padding: 2vw 2vw;
    }
  }
  
  
.logo img{
    width: 15vw;
    height: auto;
  }