

.team-container{
    height: max-content;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: black;
}

.team-container h1{
    margin-bottom: 2vh;
    font-size: 150%;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    
}

.team-members{
    
    width: 40vw;
    height: auto;
    display: flex;
    background-color: #212A31;
    padding: 1vh;
    text-align: left;
    border-radius: 1vw;
    margin-left: 1vh;
    margin-right:1vh;
    margin-bottom: 2vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

.team-members img{
    width: 20vw;
    height: 20vw;
    border-radius: 1vw;
}

.member-desc{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-right: 2vh;
}

.member-desc h3{
    font-size: 1.5vw;
   
}

.member-desc p{
    font-size: 1vw;

}

.member-desc h5{
    font-size: 1vw;

}

.member-socials{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.soc-icon{
    margin-right: 0.5vh;
    font-size: 2vw;
    color: white;

}