

.team-container{
  
    height: max-content;
    background-color: azure;
    padding-bottom: 3vh;
    padding-top: 3vh;
    


}

.team-container h1{
    margin-bottom: 2vh;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    
}

.team-members{
    
    width: 40vw;
    display: flex;
    background-color: rgb(46, 46, 46);
    padding: 1vh;
    text-align: left;
    border-radius: 1vw;
    margin-left: 1vh;
    margin-right:1vh;
    margin-bottom: 2vh;
}

.team-members img{
    width: 20vw;
    height: 30vh;
    border-radius: 1vw;
}

.member-desc{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-right: 2vh;
}

.member-desc h3{
    font-size: 2vh;
}

.member-socials{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.soc-icon{
    margin-right: 0.5vh;
    font-size: 3vh;
    color: white;

}